In [1]:
1+1

2

In [2]:
2*2

4

In [3]:
1/2

0.5

In [4]:
3**6

729

In [5]:
num = 12
name ="SAM"

In [6]:
'My Number is {} and my name is {}'.format(num,name)

'My Number is 12 and my name is SAM'

In [10]:
print('My Number is {num} and my name is {name}'.format)

<built-in method format of str object at 0x010EE2F0>

In [11]:
s = "hello"

In [12]:
s[0]

'h'

In [13]:
s[-1]

'o'

In [27]:
mylist = ['a','s','w','w']

In [15]:
mylist.append('d')

In [16]:
mylist

['a', 's', 'w', 'd']

In [21]:
d = {'key1':'value','key2':123}

In [22]:
d['key1']

'value'

In [23]:
d['key2']

123

In [24]:
d

{'key1': 'value', 'key2': 123}

In [25]:
r = (1,2,3)

In [26]:
r.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
set(mylist)

{'a', 's', 'w'}

In [29]:
a=5

In [30]:
a++

SyntaxError: invalid syntax (<ipython-input-30-22e3d6dc1353>, line 1)

In [31]:
a+=1

In [32]:
a

6

In [33]:
mylist[0] = mylist[0]**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [34]:
a = [1,2,3]

In [35]:
[num**2 for num in a]

[1, 4, 9]

In [36]:
def my_func(o):
    print(o)

In [38]:
my_func('sds')

sds

In [41]:
def square(num):
    """
    Hwllo
    """
    return num**2

In [40]:
square(2)

4

In [42]:
mylist

['a', 's', 'w', 'w']

In [43]:
a

[1, 2, 3]

In [45]:
list(map(square,a))

[1, 4, 9]

In [49]:
t = lambda t:t*3

In [50]:
t(15)

45

In [51]:
t('jds')

'jdsjdsjds'

In [53]:
list(filter(lambda num:num%2==0,a))

[2]

In [55]:
s='hello my name is PARTH'